<!DOCTYPE HTML>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title><%= title %></title>
</head>
<body>
<h1><%= message %></h1>
<form action='/upload' method='post' enctype='multipart/form-data'>
<input type='file' name='file'> &emsp;
<button type='submit'>Upload</button>
</form>
</body>
</html>
