<!DOCTYPE HTML>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title> HOME </title>
</head>
<body>
<a href='<%= link1 %>'>Click me to Download zip</a>
<a href='<%= link2 %>'>Click me to Download zip</a>
</body>
</html>
