<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <h3 style="color: red"><%= message %></h3>
        </div>
        <form action='/login' method='POST'>
            Username: <input type='text' name="username" value=<%= username %>> <br>
            Password: <input type='password' name='password' value=<%= password %>> <br>
            <button type='submit'>Login</button>            
        </form>
    </body>
</html>
